<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <title>Shiferaw and family Inc</title>
    <style>

        body{
            background-color:goldenrod;
        }

        p{
            color:blue;
        }
        a:hover{
            color:hotpink;
        }
        a:visited{
            color:green;
        }
        h4 {
            color:purple;
        }
        button{
            navbutton_background_color:olivedrab;
        }
    </style>
</head>
<body>
<div th:replace="base :: navbar"></div>
<h4><div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h4 class="display-4">Job Form</h4></h4>
    </div>
</div>
<Form action="#" th:action="@{/process}" th:object="${job}" method="post">
   <p> <input type="hidden" th:field="*{id}" />
    Title :<input type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}"></span><br />
    postedDate :<input type="text" th:field="*{postedDate}" />
    <span th:if="${#fields.hasErrors('postedDate')}"
          th:errors="*{postedDate}"></span><br />
    Description :<textarea rows="3" th:field="*{description}" />
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span> <br />
    Author :<input type="text" th:field="*{author}" />
    <span th:if="${#fields.hasErrors('author')}"
          th:errors="*{author}"></span><br />
    Phone :<input type="text" th:field="*{phone}" />
    <span th:if="${#fields.hasErrors('phone')}"
          th:errors="*{phone}"></span><br />
       <input class="btn btn-primary" type="submit" value="Submit">
   </p>
</Form>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>

</body>
</html>